extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Garrett Trott

        p.lead.text-light
          | Full Stack JavaScript Developer.
          
        .portfolio-bio
          p I'm an extremely dedicated hardworking developer. I work great under pressure amd tight deadlines. You should hire me this minute!  
            
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li Express
          li JavaScript
          li React
          li CSS
          li HTML
        h6 Contact Info

        ul
          li (503)-317-7828
          li Garrett.Trott@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/garrett-trott-566069ab' target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/GarrettTrott' target='_blank') GitHub
        a.button.expanded(href='https://twitter.com/GarrettTrott' target='_blank') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  